
prettylog
google-auth
numpy
uvicorn
protobuf
requests
google-auth-oauthlib
kiwisolver
cycler
appdirs
untokenize
tokenize-rt
imutils
fastapi
pyquaternion
filelock
python-dateutil
h11
requests-oauthlib
pyupgrade
virtualenv
cachetools
Markdown
beautifulsoup4
tqdm
pyasn1
bs4
cloudpickle
six
opencv-python
pydantic
pluggy
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@6176a25b017b92dbe833d49987526d6e339d1d8a
Wand
oauthlib
PyDictionary
fast-json
tensorboard-plugin-wit
py
typing-extensions
gray
tabulate
typing
Cython
rsa
tensorboard
urllib3
futures
dataclasses
grpcio
ConfigArgParse
pyflakes
aiofiles
PyYAML
distlib
yacs
isort
pyparsing
toml
Pillow
certifi
absl-py
chardet
#Vocabulary
pbr
colorlog
humanfriendly
click
pyasn1-modules
idna
future
matplotlib
coloredlogs
unify
starlette
fvcore @ git+https://github.com/facebookresearch/fvcore@7bc26c1f2a3ebc1ff91f266bf3ac37b23ee35842
mock
#requests
add-trailing-comma
termcolor
cityscapesScripts @ git+https://github.com/mcordts/cityscapesScripts.git@41f4ecbd62d151a1392573ff785a02c56c8c45ef
goslate
Werkzeug
packaging
pycocotools
tox
autoflake
soupsieve
pytesseract
pydot
ujson
portalocker
