absl-py==0.11.0
add-trailing-comma==2.0.1
appdirs==1.4.4
autoflake==1.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
cityscapesScripts @ git+https://github.com/mcordts/cityscapesScripts.git@41f4ecbd62d151a1392573ff785a02c56c8c45ef
click==7.1.2
cloudpickle==1.6.0
coloredlogs==14.0
colorlog==4.6.2
ConfigArgParse==1.2.3
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@6176a25b017b92dbe833d49987526d6e339d1d8a
distlib==0.3.1
fast-json==0.3.2
fastapi==0.61.2
filelock==3.0.12
future==0.18.2
futures==3.1.1
fvcore @ git+https://github.com/facebookresearch/fvcore@7bc26c1f2a3ebc1ff91f266bf3ac37b23ee35842
google-auth==1.23.0
google-auth-oauthlib==0.4.2
goslate==1.5.1
gray==0.7.0
grpcio==1.33.2
h11==0.11.0
humanfriendly==8.2
idna==2.10
imutils==0.5.3
isort==5.4.2
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.3
mock==2.0.0
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.4.0.46
packaging==20.4
pbr==5.5.1
Pillow==8.0.1
pluggy==0.13.1
portalocker==2.0.0
prettylog==0.3.0
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydantic==1.7.2
PyDictionary==2.0.1
pydot==1.4.1
pyflakes==2.2.0
pyparsing==2.4.7
pyquaternion==0.9.9
pytesseract==0.3.6
python-dateutil==2.8.1
pyupgrade==2.1.1
PyYAML==5.3.1
requests==2.13.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
soupsieve==2.0.1
starlette==0.13.6
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
tokenize-rt==4.0.0
toml==0.10.2
torch==1.7.0
torchvision==0.8.1
tox==3.20.1
tqdm==4.51.0
typing==3.7.4.3
typing-extensions==3.7.4.3
ujson==4.0.1
unify==0.5
untokenize==0.1.1
urllib3==1.26.2
uvicorn==0.12.2
virtualenv==20.1.0
Vocabulary==1.0.4
Werkzeug==1.0.1
yacs==0.1.8
certifi==2020.11.8
chardet==3.0.4
idna==2.10
numpy==1.19.4
opencv-python==4.4.0.46
requests==2.25.0
urllib3==1.26.2
Wand==0.6.5
aiofiles==0.6.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
fastapi==0.61.2
futures==3.1.1
goslate==1.5.1
h11==0.11.0
idna==2.10
numpy==1.19.4
opencv-python==4.4.0.46
pydantic==1.7.2
PyDictionary==2.0.1
requests==2.25.0
soupsieve==2.0.1
starlette==0.13.6
urllib3==1.26.2
uvicorn==0.12.2
